LR4/LR4_check_sum_method/Connected Services/SimplexService/Simplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://BGS/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://BGS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BGS/">
      <s:element name="Sum_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sum_1Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sum_2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="A">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="Sum_3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sum_3Result" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum_4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sum_4Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Sum_1SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_1" />
  </wsdl:message>
  <wsdl:message name="Sum_1SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_1Response" />
  </wsdl:message>
  <wsdl:message name="Sum_2SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_2" />
  </wsdl:message>
  <wsdl:message name="Sum_2SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_2Response" />
  </wsdl:message>
  <wsdl:message name="Sum_3SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_3" />
  </wsdl:message>
  <wsdl:message name="Sum_3SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_3Response" />
  </wsdl:message>
  <wsdl:message name="Sum_4SoapIn">
    <wsdl:part name="parameters" element="tns:Sum_4" />
  </wsdl:message>
  <wsdl:message name="Sum_4SoapOut">
    <wsdl:part name="parameters" element="tns:Sum_4Response" />
  </wsdl:message>
  <wsdl:portType name="SimplexSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int</wsdl:documentation>
      <wsdl:input name="Sum_1" message="tns:Sum_1SoapIn" />
      <wsdl:output name="Sum_1" message="tns:Sum_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Сoncatenation of string and double</wsdl:documentation>
      <wsdl:input name="Sum_2" message="tns:Sum_2SoapIn" />
      <wsdl:output name="Sum_2" message="tns:Sum_2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of fileds of two [A] objects. Return [A] object</wsdl:documentation>
      <wsdl:input name="Sum_3" message="tns:Sum_3SoapIn" />
      <wsdl:output name="Sum_3" message="tns:Sum_3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int. Response JSON</wsdl:documentation>
      <wsdl:input name="Sum_4" message="tns:Sum_4SoapIn" />
      <wsdl:output name="Sum_4" message="tns:Sum_4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://BGS/Sum_1" style="document" />
      <wsdl:input name="Sum_1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://BGS/Sum_2" style="document" />
      <wsdl:input name="Sum_2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://BGS/Sum_3" style="document" />
      <wsdl:input name="Sum_3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <soap:operation soapAction="http://BGS/Sum_4" style="document" />
      <wsdl:input name="Sum_4">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_4">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://BGS/Sum_1" style="document" />
      <wsdl:input name="Sum_1">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://BGS/Sum_2" style="document" />
      <wsdl:input name="Sum_2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://BGS/Sum_3" style="document" />
      <wsdl:input name="Sum_3">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_3">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <soap12:operation soapAction="http://BGS/Sum_4" style="document" />
      <wsdl:input name="Sum_4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Sum_4">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simplex">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex Service</wsdl:documentation>
    <wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
      <soap:address location="http://localhost:51199/Simplex.asmx" />
    </wsdl:port>
    <wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
      <soap12:address location="http://localhost:51199/Simplex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>